{{ define "home" }}
  <div id='form-panel'>
    <p>Ask a question about birds and see links
    to relevant BHL pages.
    </p>
    <form action='/' method='GET'>
      <div>
        <label for='format'>Output format</label>
        <select id='format' name='format'>
          {{ range .FormatOptions }}
          <option value='{{ . }}' {{ if eq . $.Format}}selected{{ end }}>{{ upper . }}</option>
          {{ end }}
        </select>
        &nbsp;&nbsp
        <label for='max_result'>Max results number</label>
        <input id='max_results' name='max_results' type='number' value='{{ .MaxResultsNum }}' min='1' max='20'/>
        &nbsp;&nbsp
         <label for='score_threshold'>Score min threshold</label>
         <input id='score_threshold' name='score_threshold' type='number' step='0.65' min='0.1' max='1.0' value='{{ .ScoreThreshold }}'>
      </div>
      <textarea cols='24' name='question' rows='2' autofocus placeholder="Do Bald Eagles migrate?">{{ .Question }}</textarea>
      <button>Ask</button>
    </form>
  </div>

  {{ if .Output }}
    <h4>Q: {{ .Output.Meta.Question }}</h4>
    {{ if .Output.Summary }}
    <h3>Summary</h3>
    <div class='summary'>
      {{ .Output.Summary }}
    </div>
    {{ end }}
    Number of results: {{ len .Output.Results }}
    {{ range .Output.Results }}
      {{ template "results" . }}
    {{ end }}
  {{ else }}
  <div id='examples-table'>
    <table>
    <tr>
     <td>
       <div><a href="/?format=html&max_results=5&score_threshold=0.65&question=Do+Bald+Eagles+migrate%3F">Do Bald Eagles migrate?</a></div>
     </td>
     <td>
       <div><a href="/?format=html&max_results=5&score_threshold=0.65&with_text=on&question=Do+woodpeckers+suffer+from+concussions%3F">Do woodpeckers suffer from concussions?</a></div>
     </td>
    <tr>
     <td>
       <div><a href="/?format=html&max_results=5&score_threshold=0.65&with_text=on&question=What+does+a+cassowary+eat%3F">What does a cassowary eat?</a></div>
     </td>
     <td>
       <div><a href="/?format=html&max_results=5&score_threshold=0.65&with_text=on&question=What+adaptations+allow+hummingbirds+to+hover%3F">What adaptations allow humming birds to hover?</a></div>
     </td>
    </table>
  </div>
  {{ end }}

{{ end }}
