basePath: /api/v1
definitions:
  answer.Answer:
    description: Answer holds the metadata and results for a query response, containing
      the pages from BHL that answer a given question.
    properties:
      metadata:
        allOf:
        - $ref: '#/definitions/answer.Meta'
        description: Meta contains metadata about the request.
      results:
        description: Results is a list of pages containing the answers.
        items:
          $ref: '#/definitions/answer.Result'
        type: array
    type: object
  answer.Meta:
    description: Meta includes information such as the time taken to process the query.
    properties:
      maxResultsNum:
        description: MaxResultsNum is the maximum number of returned results.
        example: 10
        type: integer
      queryTime:
        description: QueryTime is the duration taken to process the query.
        example: 0.911422974
        type: number
      question:
        description: Question asked by user.
        example: What are ecological niches for Indigo Bunting?
        type: string
      scoreThreshold:
        description: |-
          ScoreThreshold determines the smallest score which is
          still considered for results.
        example: 0.4
        type: number
      version:
        description: Version of BHLQuest
        example: v0.0.3
        type: string
    type: object
  answer.Result:
    description: Result holds information about a BHL page or range of pages that
      contain answers to a given question.
    properties:
      itemId:
        description: |-
          ItemID is the ID of a BHL Item, such as a book
          or journal volume.
        example: 226148
        type: integer
      outlink:
        description: |-
          Outlink is the URL pointing to the BHL website
          for PageIDStart.
        example: https://www.biodiversitylibrary.org/page/53469262
        type: string
      pageEnd:
        description: |-
          PageIDEnd is the ID of the ending page of the answer.
          It's the same as PageIDStart if the answer is on one page.
        example: 53469262
        type: integer
      pageStart:
        description: PageIDStart is the ID of the starting page of the answer.
        example: 53469262
        type: integer
      score:
        description: |-
          Score, generated by AI, indicates the relevance of
          the result. Higher scores are better.
        example: 0.7505834773704542
        type: number
      text:
        description: Text respresents the actual string that was used for matching
          by AI.
        type: string
    type: object
  gnvers.Version:
    description: Version provides information about the version of an application.
    properties:
      build:
        description: |-
          Build contains the timestamp or other details
          indicating when the app was compiled.
        example: 2023-08-03_18:58:38UTC
        type: string
      version:
        description: Version specifies the version of the app, usually in the v0.0.0
          format.
        example: v1.0.2
        type: string
    type: object
host: bhlquest.globalnames.org
info:
  contact:
    email: dmozzherin@gmail.com
    name: Dmitry Mozzherin
    url: https://github.com/dimus
  description: 'This API serves the BHLQuest app. It locates relevant sections in
    the Biodiversity Heritage Library that correspond to a user''s query. \n\nCode
    repository: https://github.com/gnames/bhlquest. \n\nAccess the API on the production
    server: https://bhlquest.globalnames.org/api/v1.'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: BHLQuest API
  version: "1.0"
paths:
  /:
    get:
      description: Gives information where to find docs.
      operationId: get-info
      produces:
      - text/plain
      responses:
        "200":
          description: API documentation URL
          schema:
            type: string
      summary: Information about the API documentation
  /ask/{question}:
    get:
      description: This endpoint receives a question about BHL and returns a list
        of pages containing the answer.
      operationId: ask-question
      parameters:
      - description: A question to ask BHL about.
        in: path
        name: question
        required: true
        type: string
      - description: The maximum number or returned results.
        in: query
        name: max-results
        type: integer
      - description: A score threshold from 0.0 to 1.0
        in: query
        name: score-threshold
        type: number
      - description: Shows matched text in results
        in: query
        name: with-text
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: List of pages containing the answer
          schema:
            items:
              $ref: '#/definitions/answer.Answer'
            type: array
      summary: Ask a question
  /ping:
    get:
      description: Checks if the API is online and returns a simple response if it
        is.
      operationId: get-ping
      produces:
      - text/plain
      responses:
        "200":
          description: API status response
          schema:
            type: string
      summary: Check API status
  /version:
    get:
      description: Retrieves the current version of the BHLQuest application.
      operationId: get-version
      produces:
      - application/json
      responses:
        "200":
          description: Successful response with version information
          schema:
            $ref: '#/definitions/gnvers.Version'
      summary: Get BHLQuest version
swagger: "2.0"
